

<div class="divCarr">
  <header class="header-principal">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark" style="background-color: #a716d7 !important;">
      <div class="container-fluid">
        <a class="navbar-brand" href="home">
          <img width="150" src="https://empoderadas.softadworks.com/admin/images/EmpoderadasLogo.png" >
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categorias
              </a>
              <ul class="dropdown-menu">
                <li *ngFor="let categoria of categorias"><a class="dropdown-item" href="categoria/{{categoria.id}}">{{categoria.nome}}</a></li>
              </ul>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Artistas
              </a>
              <ul class="dropdown-menu">
                <li *ngFor="let artista of artistas"><a class="dropdown-item" href="artistas/{{artista.id}}">{{artista.nome}}</a></li>
              </ul>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="/sobre">Sobre</a>
            </li>
  
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="termos">
    <h2 style="font-weight: bold;">Sobre a Empoderadas</h2>
    <section>
      <div>
        <p>{{sobre}}</p>
      </div>
    </section>
  
  </main>

  <footer>
    <section class="sobre">
      <h3>Sobre</h3>
      <a class="linkFooter" href="/sobre">Empoderadas</a>
      <a class="linkFooter" href="/termos">Termos e Condições</a>
      <a class="linkFooter" href="/privacidade">Privacidade</a>
    </section>
  
    <section class="contato">
      <h3>Contato</h3>
      <a>Empoderadas.produtos@gmail.com</a>
    </section>
  </footer>
</div>

<div class="mobile">
  <header class="header-principal-mobile">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark" style="background-color: #a716d7 !important;">
      <div class="container-fluid">
        <a class="navbar-brand" href="home">
          <img src="https://empoderadas.softadworks.com/admin/images/EmpoderadasLogo.png" >
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav-mobile" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav-mobile">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categorias
              </a>
              <ul class="dropdown-menu">
                <li *ngFor="let categoria of categorias"><a class="dropdown-item" href="categoria/{{categoria.id}}">{{categoria.nome}}</a></li>
              </ul>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Artistas
              </a>
              <ul class="dropdown-menu">
                <li *ngFor="let artista of artistas"><a class="dropdown-item" href="artistas/{{artista.id}}">{{artista.nome}}</a></li>
              </ul>
            </li>
  
            <li class="nav-item">
              <a class="nav-link text-light" href="/sobre">Sobre</a>
            </li>
  
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main class="termos-mobile">
    <h2 style="font-weight: bold !important;">Sobre a Empoderadas</h2>
    <section>
      <div>
        <p>{{sobre}}</p>
      </div>
    </section>
  
  </main>

  <footer class="flex-container">
    <section class="flex-container-section">
      <h3>Sobre</h3>
      <a class="text-light" href="/sobre">Empoderadas</a>
      <a class="text-light" href="/termos">Termos e Condições</a>
      <a class="text-light" href="/privacidade">Privacidade</a>
      <br>
      <h3>Contato</h3>
      <a class="text-light">Empoderadas.produtos@gmail.com</a>
    </section>
  </footer>
</div>

