<nav class="navbar bg-light">
  <div class="container">
    <a class="navbar-brand" href="home">
      <img width="20" src="https://cdn.shopify.com/s/files/1/0080/5365/3540/files/TOM_amarelo_140x.png?v=1558379646" alt="">
    </a>
  </div>
</nav>

<main>

  <section>
    <div style="display: flex;align-items:center; justify-content: center;" class="text-center center mt-5">
    <h3 style="max-width: 1000px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et voluptatum consectetur facilis voluptates reprehenderit ipsa?</h3>
    </div>
  </section>

</main>


<footer class="footerMobile">
  <section class="sobre">
    <p>Sobre</p>
    <span>______________________</span>
    <a href="/sobre">a TOM</a>
    <a href="/termos">Termos e Condições</a>
    <a href="/privacidade">Privacidade</a>
  </section>

  <section class="contato">
    <p>Contato</p>
    <span>______________________</span>
    <a href="">email@email.com</a>
  </section>
</footer>