.primeira-header{
    background-color: orange;
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.link-header{
    color: #58534f;
    font-weight: bold;
}

.dropdown-item , .nav-link{
    color: black;
}


.navbar{
    background-color: #58534f !important;
    height: 35vh;
    text-align: end;
    justify-content: end;
    align-items: flex-end;
}

.nav-link{
    color: #cfd0d4 !important;
    margin-bottom: 0%;
    font-size: 20px;
}

img{
    width: 73px;
}

.navegacao{
    margin-left: 10%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.bg-primary{
    height: 40vh;
    background-color: #58534f  !important;
}

.navbar-collapse{
    margin-top: 180px;
}

a:hover{
    color: orange !important;
    transition: 0.2s all;
}


button{
    position: absolute;
    text-align: center;
    align-self: center;
    margin-top: -47%;
    background-color: transparent;
    margin-left: 15%;
    width: fit-content;
    background-color: orange;
    padding: 10px;
    border: 2px solid orange;
    border-radius: 2px;
    color: #58534f;
    cursor: pointer;
}

h2{
    position: absolute;
    text-align: center;
    align-self: center;
    margin-top: -60%;
    background-color: transparent;
    margin-left: 15%;
    width: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 70px;
}
.conheca{
    border: 2px solid #58534f;
    background-color: transparent;
}


.conjuntos{
    color: #58534f;
    margin-top: -55%;
}

.btn-joias{
    background-color: orange;
    color: white;
    margin-top: -25%;
}

.listagem-produtos{
    background-color: #58534f;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -20%;
    height: 100vh;
    width: 98.7vw;
    text-align: center;
    align-items: center;
    color: white;
}

.produtoCard{
    margin-top:5%;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    text-align: start;
    margin-left: 8%;
    margin-bottom: 7%;
}

.produtoDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.produtoCard:hover{
    cursor: pointer;
}


.texto-center{
    text-align: center;
    width: 70%;
    margin-top: 2%;
    color: #cfd0d4;
}


.area-sale{
    display: flex;
    margin-top: -10%;
    width: 900px;
    position: absolute;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    justify-content: start;
    text-align: center;
    flex-wrap: wrap;
    background-color: #58534f;
    margin-left: 18%;
}

.area-pecas{
    margin-top: 40%;
    margin-left: 18%;
    display: flex;
    width: 900px;
    position: absolute;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    justify-content: start;
    text-align: center;
    flex-wrap: wrap;
    background-color: #58534f;
}

.card-produto{
    margin-left: 2%;
    border: 2px solid black;
    width: 200px;
    height: 300px;
    align-items: center;
}

.card-pecas{
    margin-left: 2%;
    border: 2px solid black;
    width: 420px;
    margin-top: 5%;
    height: 500px;
    align-items: center;
}

.card-feedback{
    margin-left: 2%;
    border: 2px solid black;
    width: 420px;
    margin-top: 5%;
    height: 500px;
    align-items: center;
}


.feedback{
    margin-top: 130%;
    margin-left: 18%;
    display: flex;
    width: 900px;
    position: absolute;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    justify-content: start;
    text-align: center;
    flex-wrap: wrap;
    background-color: #58534f;
}


footer{
    border-top: .15px solid #cfd0d480;
    height: 25vh;
    display: flex;
    position: absolute;
    background-color: #58534f;
    margin-top: 30vh;
    align-items: center;
    text-align: start;
    justify-content: center;
    width: 100%;
}

.sobre , .contato , .novidades{
    display: flex;
    align-self: center;
    width: 500px;
    flex-direction: column;
    margin-left: 5%;
    color: #cfd0d4 !important;
}

p{
    font-weight: bold;
}

.contato{
    margin-top: -3.5%;
}


a{
    color: #cfd0d4;
}


input{
    width: 200px;
    height: 40px;
    margin-top: -6px;
    text-align: start;
cursor: default !important;
}


.novidadesemail{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    flex-direction: row;
    width: 200px;
}
.receber-btn{
    text-align: center;
    background-color: transparent;
    width: -moz-fit-content;
    width: fit-content;
    background-color: orange;
    padding: 10px;
    border: 2px solid orange;
    border-radius: 2px;
    color: #58534f;
    position: inherit;
    border-radius: 7px;
    cursor: pointer;
    height: 45px;
    margin-left: 1.1%;
}


@media  screen and (max-width: 768px) {
    .footerMobile{
        display: none;
    }

    img{
        max-width: 80%;
    }
}