<nav>
  <div class="primeira-header" style="background-color: orange;">
    <a class="link-header" href="">Sales of Lorem ipsum dolor sit.</a>
  </div>
</nav>

<header style="margin-bottom: 280px;" class="bg-primary">
  <section class="navegacao">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="https://cdn.shopify.com/s/files/1/0080/5365/3540/files/TOM_amarelo_140x.png?v=1558379646" alt="erro">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Peças
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Colares</a></li>
                <li><a class="dropdown-item" href="#">Brincos</a></li>
                <li><a class="dropdown-item" href="#">Sapatos</a></li>
              </ul>
            </li>
    
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Artistas
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Michele Jailson</a></li>
                <li><a class="dropdown-item" href="#">Bruna marisa</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Estilos
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Michele Jailson</a></li>
                <li><a class="dropdown-item" href="#">Bruna marisa</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
</header>

<main>
  <section>
  </section>

  <section class="listagem-produtos">
    <div class="texto-center">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum soluta at accusantium officiis eaque possimus quam reprehenderit tempora blanditiis exercitationem.</p>
    </div>
  </section>

  <section class="area-sale">
    <div class="card-produto">

    </div>

    <div class="card-produto">

    </div>

    <div class="card-produto">

    </div>

    <div class="card-produto">

    </div>

    <div class="card-produto">

    </div>

    <div class="card-produto">

    </div>

    <div class="card-produto">

    </div>

    <div class="card-produto">

    </div>
  </section>
</main>


<footer>
  <section class="sobre">
    <p>Sobre</p>
    <span>______________________</span>
    <a href="">a TOM</a>
    <a href="">Termos e Condições</a>
    <a href="">Privacidade</a>
  </section>

  <section class="contato">
    <p>Contato</p>
    <span>______________________</span>
    <a href="">email@email.com</a>
  </section>

  <section class="novidades">
    <p>Novidades da TOM</p>
    <span>______________________</span>
    <p>Receba as novidades por E-mail:</p>
    <form class="novidadesmail">
      <input type="email" class="btn">
      <button type="submit" class="receber-btn">RECEBER</button>
    </form>
  </section>
</footer>