<header>
  <div class="orange">
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
</header>



<header class="header-principal">
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark" style="background-color: #a716d7 !important;">
    <div class="container-fluid">
      <img width="60" src="https://cdn.shopify.com/s/files/1/0080/5365/3540/files/TOM_amarelo_140x.png?v=1558379646" alt="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Peças</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Artistas</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Produtos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Colares</a></li>
              <li><a class="dropdown-item" href="#">Brincos</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Sobre</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>

<div>
    <div id="carouselExampleSlidesOnly" class="carousel slide card" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://cdn.shopify.com/s/files/1/0080/5365/3540/files/banner_capa_site_copy_3_cb0bcedf-b71b-482e-8031-c01af70e3be4_1512x.png?v=1650665808" class="d-block w-100" alt="...">

          <h2 style="    position: absolute;
          margin-top: -60%;
          margin-left: 20%;
          color: purple;
          font-size: 55px;
          width: 300px;
          line-height: 50px;">Lorem ipsum dolor sit amet.</h2>
        </div>

        <div class="carousel-item">
          <img src="https://cdn.shopify.com/s/files/1/0080/5365/3540/files/banner_capa_site_copy_3_cb0bcedf-b71b-482e-8031-c01af70e3be4_1512x.png?v=1650665808" class="d-block w-100" alt="...">
          <h2 style="    position: absolute;
          margin-top: -60%;
          margin-left: 20%;
          color: purple;
          font-size: 55px;
          width: 300px;
          line-height: 50px;">Teste com joias no site</h2>
        </div>

        
      </div>


      
  </div>


  <section class="area-produto">
    <div class="produtoCard">
      <article>
        <img src="" alt="">
      </article>
      <h1>Produto Nome</h1>
      <h1>Produto Preco</h1>
      <h1>Produto Autora</h1>
    </div>
  </section>
</div>