.orange{
    display: flex;
    text-align: center !important;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #e39d1d !important;
    color: #58534f;
    height: 7vh;
}

.header-principal{
    background-color: #58534f;
    height: 15vh;
    width: 100vw;
}


.logo{
    margin-left: 10%;
}

.card{
    display: flex;
    background-color: transparent;
    margin-top: 6.5%;
}

@media screen and (min-width: 768px) {
    .navbar-nav{
        margin-top: 10%;
    }
}