



<header class="header-principal">
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark" style="background-color: #a716d7 !important;">
    <div class="container-fluid">
      <img width="60" src="https://cdn.shopify.com/s/files/1/0080/5365/3540/files/TOM_amarelo_140x.png?v=1558379646" alt="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Peças</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Artistas</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Produtos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Colares</a></li>
              <li><a class="dropdown-item" href="#">Brincos</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Sobre</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="divCarr">

    <div id="carouselExampleSlidesOnly" class="carousel slide card" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://cdn.shopify.com/s/files/1/0080/5365/3540/files/banner_capa_site_copy_3_cb0bcedf-b71b-482e-8031-c01af70e3be4_1512x.png?v=1650665808" class="d-block w-100" alt="...">

          <h2 style="    position: absolute;
          margin-top: -60%;
          margin-left: 20%;
          color: purple;
          font-size: 55px;
          width: 300px;
          line-height: 50px;">Lorem ipsum dolor sit amet.</h2>
        </div>

        <div class="carousel-item">
          <img src="https://cdn.shopify.com/s/files/1/0080/5365/3540/files/banner_capa_site_copy_3_cb0bcedf-b71b-482e-8031-c01af70e3be4_1512x.png?v=1650665808" class="d-block w-100" alt="...">
          <h2 style="    position: absolute;
          margin-top: -60%;
          margin-left: 20%;
          color: purple;
          font-size: 55px;
          width: 300px;
          line-height: 50px;">Teste com joias no site</h2>
        </div>

        
      </div>

      <div class="info-site-desktop">
        <p class="paragrafo-site-pc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et perferendis deleniti aperiam repellat atque temporibus inventore ea ratione id earum! Dolores dolorem accusamus quam laboriosam tempore libero deleniti quo quae iusto culpa. Fugiat, eaque quo.</p>
      </div>
      
    </div>

    <div class="title">
      <h1 style="color: rgb(218, 213, 213); font-size: 30px;">Lançamentos e Destaques</h1>
    </div>


  <section class="area-produto">
    <div class="produtoCard">
      <article>
        <img width="100%" src="https://th.bing.com/th/id/OIP.lfSxqgtv9QnQem8h42BWfgHaHa?pid=ImgDet&rs=1" alt="">
        <h5 style="    font-size: 20px;
        color: white;
        font-weight: 400;">Boné Oakley</h5>
        <div class="row ml-0 produtoDiv">
          <h5 style="color: white;
          font-size: 15px;" class="mr-0">Oakley</h5>

          <h5 style="color: white;
          font-size: 15px;">159,00R$</h5>
        </div>
      </article>
      
    </div>

    <div class="produtoCard">
      <article>
        <img width="100%" src="https://th.bing.com/th/id/OIP.lfSxqgtv9QnQem8h42BWfgHaHa?pid=ImgDet&rs=1" alt="">
        <h5 style="    font-size: 20px;
        color: white;
        font-weight: 400;">Boné Oakley</h5>
        <div class="row ml-0 produtoDiv">
          <h5 style="color: white;
          font-size: 15px;" class="mr-0">Oakley</h5>

          <h5 style="color: white;
          font-size: 15px;">159,00R$</h5>
        </div>
      </article>
      
    </div>

    <div class="produtoCard">
      <article>
        <img width="100%" src="https://th.bing.com/th/id/OIP.lfSxqgtv9QnQem8h42BWfgHaHa?pid=ImgDet&rs=1" alt="">
        <h5 style="    font-size: 20px;
        color: white;
        font-weight: 400;">Boné Oakley</h5>
        <div class="row ml-0 produtoDiv">
          <h5 style="color: white;
          font-size: 15px;" class="mr-0">Oakley</h5>

          <h5 style="color: white;
          font-size: 15px;">159,00R$</h5>
        </div>
      </article>
      
    </div>

    <div class="produtoCard">
      <article>
        <img width="100%" src="https://th.bing.com/th/id/OIP.lfSxqgtv9QnQem8h42BWfgHaHa?pid=ImgDet&rs=1" alt="">
        <h5 style="    font-size: 20px;
        color: white;
        font-weight: 400;">Boné Oakley</h5>
        <div class="row ml-0 produtoDiv">
          <h5 style="color: white;
          font-size: 15px;" class="mr-0">Oakley</h5>

          <h5 style="color: white;
          font-size: 15px;">159,00R$</h5>
        </div>
      </article>
      
    </div>
  </section>
  <hr style="margin-top: 5%;
  width: 100%; border-color:#ba62c5 !important;" class="border border-danger border-2 opacity-50">
  <h2 style="color: rgb(218, 213, 213);
  font-size: 30px; margin-left: 7.9%;">Produtos na promoção</h2>
  <section class="area-produto">
    <div class="produtoCard teste">
      <article>
        <img width="100%" src="https://th.bing.com/th/id/OIP.lfSxqgtv9QnQem8h42BWfgHaHa?pid=ImgDet&rs=1" alt="">
        <h5 style="    font-size: 20px;
        color: white;
        font-weight: 400;">Boné Oakley</h5>
        <div class="row ml-0 produtoDiv">
          <h5 style="color: white;
          font-size: 15px;" class="mr-0">Oakley</h5>

          <h5 style="color: white;
          font-size: 15px;">159,00R$</h5>
        </div>
      </article>
      
    </div>
    
    <div class="produtoCard teste">
      <article>
        <img width="100%" src="https://th.bing.com/th/id/OIP.lfSxqgtv9QnQem8h42BWfgHaHa?pid=ImgDet&rs=1" alt="">
        <h5 style="    font-size: 20px;
        color: white;
        font-weight: 400;">Boné Oakley</h5>
        <div class="row ml-0 produtoDiv">
          <h5 style="color: white;
          font-size: 15px;" class="mr-0">Oakley</h5>

          <h5 style="color: white;
          font-size: 15px;">159,00R$</h5>
        </div>
      </article>
      
    </div>

    <div class="produtoCard teste">
      <article>
        <img width="100%" src="https://th.bing.com/th/id/OIP.lfSxqgtv9QnQem8h42BWfgHaHa?pid=ImgDet&rs=1" alt="">
        <h5 style="    font-size: 20px;
        color: white;
        font-weight: 400;">Boné Oakley</h5>
        <div class="row ml-0 produtoDiv">
          <h5 style="color: white;
          font-size: 15px;" class="mr-0">Oakley</h5>

          <h5 style="color: white;
          font-size: 15px;">159,00R$</h5>
        </div>
      </article>
      
    </div>

  </section>

</div>

<div class="mobile">

  <div class="info-site">
    <p class="paragrafo-site">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste incidunt totam eos commodi fugit iusto?</p>
  </div>

  <div class="area-produto-mobile">
    <h1 style="font-size: 15px !important;
    margin-left: 19px; color: white;">Produtos em Destaques</h1>
    <div class="produtoCard-mobile">
      <article>
        <img width="100%" src="https://th.bing.com/th/id/OIP.lfSxqgtv9QnQem8h42BWfgHaHa?pid=ImgDet&rs=1" alt="">
        <h5 style="    font-size: 20px;
        color: white;
        font-weight: 400;">Boné Oakley</h5>
        <div class="row ml-0 produtoDiv">
          <h5 style="color: white;
          font-size: 15px;" class="mr-0">Oakley</h5>

          <h5 style="color: white;
          font-size: 15px;">159,00R$</h5>
        </div>
      </article>
      
    </div>

    <div class="produtoCard-mobile">
      <article>
        <img width="100%" src="https://th.bing.com/th/id/OIP.lfSxqgtv9QnQem8h42BWfgHaHa?pid=ImgDet&rs=1" alt="">
        <h5 style="    font-size: 20px;
        color: white;
        font-weight: 400;">Boné Oakley</h5>
        <div class="row ml-0 produtoDiv">
          <h5 style="color: white;
          font-size: 15px;" class="mr-0">Oakley</h5>

          <h5 style="color: white;
          font-size: 15px;">159,00R$</h5>
        </div>
      </article>
      
    </div>

  </div>
</div>