<nav class="navbar bg-light">
  <div class="container">
    <a class="navbar-brand" href="home">
      <img width="20" src="https://cdn.shopify.com/s/files/1/0080/5365/3540/files/TOM_amarelo_140x.png?v=1558379646" alt="">
    </a>
  </div>
</nav>

<main>
  <section>
    <div>
      <article class="center text-center mt-3">
        <img style="border: 2px solid white; border-radius: 10px; width: 400px !important;" src={{artistas.pathFotoPerfil}} alt="">
      </article>
    </div>
  </section>

  <section>
    <div style="display: flex;align-items:center; justify-content: center;" class="text-center center mt-5">
    <h3 style="max-width: 1000px;">{{artistas.descricao}}</h3>
    </div>
  </section>


  <section style="display: flex; flex-wrap: wrap;">
    <div *ngFor="let produto of produtos" class="produtoCard">
      <article>
        <img style="width: 320px !important; flex-wrap: wrap; border-radius: 10px;" width="100%" src="https://th.bing.com/th/id/OIP.lfSxqgtv9QnQem8h42BWfgHaHa?pid=ImgDet&rs=1" alt="">
        <h5 style="    font-size: 20px;
        color: white;
        font-weight: 400;">{{produto.nome}}</h5>
        <div class="row ml-0 produtoDiv">
          <h5 style="color: white;
          font-size: 15px;" class="mr-0">{{produto.valor}}</h5>

          <h5 style="color: white;
          font-size: 15px;">{{produto.valor}}$</h5>
        </div>
      </article>
      
    </div>

    

    
  </section>

</main>


<footer class="footerMobile">
  <section class="sobre">
    <p>Sobre</p>
    <span>______________________</span>
    <a href="">a TOM</a>
    <a href="">Termos e Condições</a>
    <a href="">Privacidade</a>
  </section>

  <section class="contato">
    <p>Contato</p>
    <span>______________________</span>
    <a href="">email@email.com</a>
  </section>
</footer>